{{#if images}}
{{#each images}}
<!-- Button trigger modal -->
<button type="button" data-toggle="modal" data-target="#example{{{ id }}}" class="btn-img" style="background-image:url(/images/originals/{{this.filename}}); background-repeat: round;">
    {{!-- <div class="images">
        <img src="{{../path}}{{this.filename}}" alt="{{this.filename}}" height="200px" />
    </div> --}}
</button>

<div class="modal fade" id="example{{{ id }}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Puppies Puppies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img onclick="openModal()" src="{{../path}}{{this.filename}}" alt="{{this.filename}}" height="200px" />
          <input placeholder="Type your meme here..."/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{/each}}
{{/if}}


